/* Estilos CSS aqu� */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #222032;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #555;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Sección principal (hero) */
.hero {
    background-image: url('media/UNID-Banners-sitio-web-HZLU-Licenciatura-1-1.jpg'); 
    background-size: contain;
    color: white;
    text-align: center;
    padding: 100px 0;
}

/* Sección de carreras */
.carreras {
    text-align: center;
    padding: 50px 0;
}

.carrera {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
