/* Estilos CSS aqu� */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Contenedor del horario */
.horario {
    text-align: center;
    padding: 50px;
}

/* Tabla de horario */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
